<!DOCTYPE html>
<html>

<head>
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title></title>
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2015.3.1111/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2015.3.1111/styles/kendo.material.min.css" />
    <script src="//kendo.cdn.telerik.com/2015.3.1111/js/jquery.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2015.3.1111/js/angular.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2015.3.1111/js/kendo.all.min.js"></script>
    <script src="cordova.js"></script>
</head>

<body>
    <div id="example" ng-app="KendoDemos" title="Conference Details">
        <br/>
        <img style="float:right;margin-right:20px" src="images/ieee_logo.png" alt="IEEE">
        <br/>
        <br/>
        <h2>Conference Details:</h2>
        <table style="margin-right:0px">
            <tr>
                <td><h4>Select Country:</h4></td>
                <td><select id="size" style="width: 100%;">
                    <option>USA</option>
                    <option>India</option>
                    <option>China</option>
                </select>                
            	</td>
            </tr>
        </table>
        <div ng-controller="MyCtrl">
            <kendo-grid options="mainGridOptions">
                <div k-detail-template>
                    <kendo-tabstrip>
                        <ul>
                            <li class="k-state-active">Other Details</li>
                            <li>Contact information</li>
                        </ul>
                        <div>
                            <div kendo-grid k-options="detailGridOptions(dataItem)"></div>
                        </div>
                        <div>
                            <ul>
                                <li>Country: {{dataItem.country}}</li>
                                <li>City: {{dataItem.city}}</li>
                                <li>Contact Info: {{dataItem.contactInfo}}</li>
                            </ul>
                        </div>
                    </kendo-tabstrip>
                </div>
            </kendo-grid>
        </div>
    </div>
    <script>
        angular.module("KendoDemos", ["kendo.directives"])
            .controller("MyCtrl", function ($scope) {
                $scope.mainGridOptions = {
                    dataSource: {
                        type: "json",
                        transport: {
                            read: "http://services28.ieee.org/wservice/rest/confsearch?ct=USA&st=CO"
                        },
                        schema: {
                            data: 'searchRecords'
                        },
                        pageSize: 5,
                        serverPaging: true,
                        serverSorting: true
                    },
                    sortable: true,
                    pageable: true,
                    resizable: true,
                    dataBound: function () {
                        this.expandRow(this.tbody.find("tr.k-master-row").first());
                    },
                    columns: [{
                        field: "conferenceName",
                        title: "Conference Name",
                        width: "200"
                    }, {
                        field: "startdate",
                        title: "Start Date",
                        width: "120px"
                }, {
                        field: "enddate",
                        title: "End Date",
                        width: "120px"
                }]
                };

                $scope.detailGridOptions = function (dataItem) {
                    return {
                        dataSource: {
                            type: "json",
                            transport: {
                                read: "http://services28.ieee.org/wservice/rest/confsearch?ct=USA&st=CO"
                            },
                            schema: {
                                data: 'searchRecords'
                            },
                            serverPaging: true,
                            serverSorting: true,
                            serverFiltering: true,
                            pageSize: 5,
                            filter: {
                                field: "EmployeeID",
                                operator: "eq",
                                value: dataItem.EmployeeID
                            }
                        },
                        scrollable: false,
                        sortable: true,
                        pageable: false,
                        columns: [
                            {
                                field: "conferenceScope",
                                title: "Conference Scope",
                                width: "110px"
                            },
                            {
                                field: "conferenceSiteURL",
                                title: "URL",
                                width: "56px"
                            }

                    ]
                    };
                };
            })
    </script>
</body>

</html>